.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
input {
  font-family: inherit;
}
textarea {
  font-family: inherit;
}
p {
  line-height: 1.5;
}
img {
  vertical-align: top;
}

*,
*:before,
*:after {
  // 넒이에 border랑 padding 처리 해줌
  box-sizing: border-box;
  //box-sizing: content-box;
}

button {
  border: none;
  outline: none;
  background: none;
}
